*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: rgb(221, 221, 221);
}

.wrapper{
    max-width: 980px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}


