header{
    width: 100%;
    height: 80px;

    h1{
        font-size: 30px;
        text-align: center;
        padding-top: 25px;
    }
}

.banner_sec{
    width: 980px;
    height: 120px;
    margin: auto;
    position: relative;

    img{
        width: 100%;
        height: 120px;
        object-fit: cover;
        border-radius: 15px;
    }
    
    form{
        position: absolute;
        top: 30px;
        left: 25%;
        display: flex;
        justify-content: center;
        align-items: center;

        .banner_input{
            width: 350px;
            height: 50px;
            border: none;
            border-radius: 20px;

            &::placeholder{
                padding-left: 20px;
                color: gray;
            }

            &:hover{
                border: 1px solid grey;
            }
        }

        .button_input{
            height: 50px;
            width: 120px;
            border: none;
            background: rgb(0, 132, 255);
            color: white;
            margin-left: 20px;
            border-radius: 20px;
            font-size: 16px;

            &:hover{
                border: 1px solid white;
            }
        }
    }
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;   

    .aside_container{
        width: 30%;
    }

    .section_container{
        width: 70%;
    }
}

.footer{
    width: 100%;
    height: 40px;
    margin-top: 40px;
    
    p{
        font-size: 15px;
        text-align: center;
        color: gray;
        padding-top: 10px;
    }
}